<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.footballLatest.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/soccer48"
        android:label="Football Latest"
        android:theme="@style/AppTheme" >

        <!-- BBC Feed -->
        <activity
            android:name="com.footballLatest.app.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="Football Latest News" >
            <intent-filter>
                <action
                    android:name="com.footballLatest.app.MainActivity"
                    android:configChanges="orientation|screenSize" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--- Twitter Login -->


        <activity android:name="com.footballLatest.app.twitterLogin"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="com.footballLatest.app.MainMenu">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.footballLatest.app.MainMenu" />
            <intent-filter>
                <action android:name="com.footballLatest.app.twitterLogin" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="t4jsample"
                    android:scheme="oauth" />
            </intent-filter>
        </activity>

        <!-- Splash Page -->
        <activity
            android:name="com.footballLatest.app.Splash"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Channel Selection Page -->
        <activity
            android:name="com.footballLatest.app.ChannelSelection"
            android:label="Channel List"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="com.footballLatest.app.MainMenu"
            >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.footballLatest.app.MainMenu" />
            <intent-filter>
                <action android:name="com.footballLatest.app.ChannelSelection" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Fox Sports Feed -->
        <activity
            android:name="com.footballLatest.app.FoxSportsFeed"
            android:configChanges="orientation|screenSize"
            android:label="Fox Sports" >
        </activity>


        <!-- Fox Sports Single -->

        <activity
            android:name="com.footballLatest.app.foxSportsSinglePage"
            android:parentActivityName="com.footballLatest.app.ChannelSelection"
            android:configChanges="orientation|screenSize"
            >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.footballLatest.app.ChannelSelection" />
        </activity>



        <!-- Fox Sports Single -->

        <activity
            android:name="com.footballLatest.app.bbcNewsSinglePage"
            android:parentActivityName="com.footballLatest.app.ChannelSelection"
            android:configChanges="orientation|screenSize"
            >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.footballLatest.app.ChannelSelection" />
        </activity>


        <!-- Main Menu -->

        <activity
            android:name="com.footballLatest.app.MainMenu"
            android:label="Soccer Current"
            >
            <intent-filter>
                <action
                    android:name="com.footballLatest.app.MainMenu"
                    android:configChanges="orientation|screenSize" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

    </application>
</manifest>
